doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    div(class="navbar navbar-static-top")
      div(class="navbar-header")
        h1(class="casting-complex-name") Casting Complex
    block content