// Imports
@import url('https://fonts.googleapis.com/css?family=Righteous|Satisfy|Lobster|Bree+Serif|Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900');

// Colors
$background-tint: #1734C1;
$background-color:rgb(8,95,137);
$border-color-input: rgba(255, 255, 255, 0.42);

// Sizing
$navbar-height: 80px;
$sign-in-btn-height: 40px;
$sign-in-btn-width: 80px;
$content-padding-top: 80px !important;
$content-padding-bottom: 200px !important;

// Typography
$logo: 'Source Serif Pro';
$body-font: 'Montserrat';